.btn {
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: #fff;
  border-radius: var(--border-radius);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &--primary {
    background-color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary-hover);
    }
  }

  &--danger {
    background-color: var(--color-danger);

    &:hover {
      background-color: var(--color-danger-hover);
    }
  }

  &--secondary {
    background-color: var(--color-text-light);

    &:hover {
      background-color: var(--color-text);
    }
  }
}
